{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
	<style> 
		h1 {text-align: center;}
	</style>
</head>
<body>


{% block body %}
<div>
	<p>
		<h1> Free The Homies </h1>
		"It is our duty to fight for freedom. It is our duty to win. We must love each other and support each other. We have nothing to lose but our chains." - Assata Shakur. This data is derived from The Color of Justice: Racial and Ethnic Disparity in State Prisons, Ashley Nellis, Ph.D. published by The Sentencing Project. This project seeks to show the social ill of mass incarceration with African Americans being disproportionately imprisoned, compared to their white counterparts. This data can be accessed with the following url: http://127.0.0.1:5000/api. 
	<p>
<div>

	<!-- {% for row in data %}  -->   
<table>
	<tr>
		<th>State</th> 
		<th>White</th>
		<th>Black</th>
	</tr>
		{% for row in data %}
    <tr>
        <td>{{ row.states }}</td>
        <td>{{ row.white }}</td>
        <td>{{ row.black }}</td>
     <tr>
     	 {% end for %}
<table>     
	<!-- <li> {{ row.states }}: {{ row.white }},{{ row.black }} </li>         
	{% endfor %} -->

{% endblock %}

</body>
</html>